:root {

  /* Green */
  /* --primary: #008080;
  --button-hover: #006666;
--button-active: #004C4C; */
/* --color-text-primary:  */
--primary-text: #1F2937;
--secondary-text: #6B7280;
--placeholder-text: #9CA3AF;
  /* --primary: #00A86b; */
  --primary: #4e7560;
  --button-hover: #3A5E4A;
  --button-active: #2E493A;
--color-green-950: #022c22;
--color-green-900: #064e3b;
--color-green-800: #065f46;
--color-green-700: #047857;
--color-green-600: #059669;
--color-green-500: #10b981;
--color-green-400: #34d399;
--color-green-300: #6ee7b7;
--color-green-200: #a7f3d0;
--color-green-100: #d1fae5;
--color-green-50: #ecfdf5;

/* Yellow */
--color-yellow-200: #eff87a;

/* White */
--color-white: #ffffff;

/* Accent */
--color-accent: #cfdcff;

--backdrop-color: rgba(255, 255, 255, 0.1);

--shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
--shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
--shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

--border-radius-tiny: 3px;
--border-radius-sm: 5px;
--border-radius-md: 7px;
--border-radius-lg: 9px;

/* For dark mode */
--image-grayscale: 0;
--image-opacity: 100%;


}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Creating animations for dark mode */
  transition: background-color 0.3s, border 0.3s;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color:#1B1B1B;
  /* color: var(--color-grey-700); */
  width: 100vw;
  transition: color 0.3s, background-color 0.3s;
  min-height: 100vh;
  /* height: 100%; */
  line-height: 1.5;
  font-size: 1.6rem;
  position: relative;
  /* overflow: hidden; */
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
input,
textarea,
[contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}
button {
  cursor: pointer;
}

button:disabled{
 background-color: #E0E0E0;
  color: #9E9E9E;
  border: 1px solid #CCCCCC;
  opacity: 1;
  cursor: not-allowed;
}
button:disabled:hover {
  filter: none;
   background-color: #E0E0E0;
  color: #9E9E9E;
  border: 1px solid #CCCCCC;
}

*:disabled {
  cursor: not-allowed;
}

select:disabled,
input:disabled {
  background-color: var(--color-grey-200);
  color: var(--color-grey-500);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--color-brand-600);
  outline-offset: -1px;
}

/* Parent selector, finally 😃 */
button:has(svg) {
  line-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

img {
  max-width: 100%;

  /* For dark mode */
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}
